<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" data-ng-app="jege"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" data-ng-app="jege"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" data-ng-app="jege"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" data-ng-app="jege"> <!--<![endif]-->
<head>
  <meta charset='utf-8' />
  <title>JEGE AngularJS</title>
  <meta content='' name='description' />
  <meta content='Paul Dijou' name='author' />
  <meta content='width=device-width' name='viewport' />
  <link href='//jege.github.com/jege-angular/less/style-1.0.0.less' rel='stylesheet/less' />
  <script src='//jege.github.com/jege-angular/js/libs/less-1.3.0.min.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/modernizr-2.6.1.js' type='text/javascript'></script>
</head>
<body data-ng-controller='MainCtrl'>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <div class='navbar navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </a>
          <a class='brand' href='/'>JEGE AngularJS</a>
          <div class='nav-collapse'>
            <ul class='nav'>
              <li>
                <a href='/'>Home</a>
              </li>
            </ul>
            <ul class='nav pull-right'>
              <li class='logged-out'>
                <a href='/public/user/inscription'>Inscription</a>
              </li>
              <li class='logged-out'>
                <a data-target='#signinModal' data-toggle='modal' href='#'>Sign in</a>
              </li>
              <li class='dropdown logged-in'>
                <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                  You
                  <b class='caret'></b>
                </a>
                <ul class='dropdown-menu'>
                  <li>
                    <a href='/private/user/profile'>Profile</a>
                  </li>
                  <li data-ng-controller='SigninCtrl'>
                    <a data-ng-click='signout()' href='/'>Sign out</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class='container'>
    <h1>Users</h1>
    <table class='table table-striped table-bordered table-hover' data-ng-controller='UserCtrl'>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>REST</th>
      </tr>
      <tr ng-repeat='user in users'>
        <td>
          {{user.id}}
        </td>
        <td>
          {{user.username}}
        </td>
        <td>
          {{user.email}}
        </td>
        <td>
          {{user.firstName}}
        </td>
        <td>
          {{user.lastName}}
        </td>
        <td>
          <a href='//service-jege.rhcloud.com/api/1/users/{{user.id}}'>View JSON</a>
        </td>
      </tr>
    </table>
  </div>
  <footer></footer>
  <div class='modal hide fade' data-ng-controller='SigninCtrl' id='signinModal'>
    <div class='modal-header'>
      <button class='close' data-dismiss='modal' type='button'>&times;</button>
      <h3>Sign in</h3>
    </div>
    <div class='modal-body'>
      <div class='form-horizontal'>
        <div class='control-group'>
          <label class='control-label' for='inputSigninUsername'>Username</label>
          <div class='controls'>
            <input data-ng-model='credentials.username' id='inputSigninUsername' placeholder='Username' type='text' />
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='inputSigninPassword'>Password</label>
          <div class='controls'>
            <input data-ng-model='credentials.password' id='inputSigninPassword' placeholder='Password' type='password' />
          </div>
        </div>
      </div>
    </div>
    <div class='modal-footer'>
      <button class='btn' data-dismiss='modal' type='button'>Cancel</button>
      <button class='btn btn-primary' data-ng-click='signin()' type='button'>Sign in</button>
    </div>
  </div>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js' type='text/javascript'></script>
  <script type='text/javascript'>
    window.jQuery || document.write('<script src="/js/libs/jquery-1.8.1.js"><\/script>')
  </script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-affix.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-alert.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-button.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-carousel.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-collapse.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-dropdown.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-modal.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-popover.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-scrollspy.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-tab.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-tooltip.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-transition.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/bootstrap/bootstrap-typeahead.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/angular/angular-1.0.1.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/angular/angular-resource-1.0.1.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/libs/angular/angular-cookies-1.0.1.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/app.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/services.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/controllers.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/filters.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/directives.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/plugins.js' type='text/javascript'></script>
  <script src='//jege.github.com/jege-angular/js/script.js' type='text/javascript'></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
